.app-container {
  $sidebar-space: $sidebar-width + $sidebar-margin * 2;
  box-sizing: padding-box;
  height: 100%;
  padding: 0 0.5em;
  & > .wrapper {
    max-width: $content-max-width + $sidebar-space;
    margin: 0 auto;
    position: relative;
    padding: 0em;
    padding-top: $header-height + $content-padding-top;
    box-sizing: border-box;
    min-height: 100%;
    & > .content {
      padding: 0.5em;
      height: 200vh;
    }
    @media screen and (min-width: $tablet-size) {
      padding-left: $sidebar-space;
    }
  }
}
