#header {
  $headerColor: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 1000;
  background-color: $header-bg-color;
  // box-shadow: 0 0.2rem 4px -1px rgba(#000, 0.25);
  border-bottom: 1px solid $header-border-color;
  color: $header-color;
  font-size: $header-font-size;
  line-height: $header-height;
  vertical-align: middle;
  a {
    color: $header-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  & > .content {
    box-sizing: border-box;
    padding: 0 2rem;
    margin: 0 auto;
    text-align: center;
    & > .left {
      display: inline-block;
      float: left;
      & > .hamburger {
        cursor: pointer;
        margin-left: -0.8em;
        margin-right: 0.5em;
        padding: 0.5em;
        width: 1.2em;
        @include fa-icon();
        &:before {
          content: $fa-var-bars;
        }
        &.open:before {
          content: $fa-var-times;
        }
        @media screen and (min-width: $tablet-size) {
          // Hide in desktop mode
          display: none;
        }
      }
      & > .title {
        display: inline-block;
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        font-weight: normal;
        color: $header-title-color;
      }
    }
    & > .center {
      display: inline-block;
      text-align: center;
    }
    & > .right {
      display: inline-block;
      float: right;
    }
  }
  // Landscape and keyboard is out, At least users should be able to see
  // what they are typing.
  @media screen and (max-height: 5em) {
    visibility: hidden;
  }
}
