.room-action-bar {
  margin-top: 0.3em;
  padding: 0 0.4em;
  padding-right: 0em;
  font-size: 0.9em;
  .action-container {
    display: inline-block;
    padding-right: 0.4em;
    padding-top: 0.3em;
    box-sizing: border-box;
    &.join .action {
      background-color: $green-700;
      &:hover {
        background-color: $green-600;
      }
      & > .icon:before {
        content: $fa-var-sign-in;
      }
      &.disabled {
        display: none;
      }
    }
    &.leave .action {
      background-color: $red-700;
      &:hover {
        background-color: $red-600;
      }
      & > .icon:before {
        content: $fa-var-sign-out;
      }
    }
    &.spectate .action {
      background-color: $orange-700;
      &:hover {
        background-color: $orange-600;
      }
      & > .icon:before {
        content: $fa-var-search;
      }
    }
    &.create .action {
      background-color: $green-700;
      &:hover {
        background-color: $green-600;
      }
      & > .icon:before {
        content: $fa-var-check;
      }
    }
    &.apply .action {
      background-color: $green-700;
      &:hover {
        background-color: $green-600;
      }
      & > .icon:before {
        content: $fa-var-check;
      }
    }
    &.disabled .action {
      background-color: $grey-600;
      &:hover {
        background-color: $grey-600;
      }
    }
    &.details {
      & .action .icon {
        margin-left: 0.5em;
        margin-right: 0;
        &:before {
          content: $fa-var-caret-down;
        }
      }
      &.open .action .icon:before {
        content: $fa-var-caret-up;
      }
    }
    .action {
      display: block;
      padding: 0.5em 0.6em;
      background-color: $blue-700;
      border-radius: 2px;
      border: none;
      width: 100%;
      box-sizing: border-box;
      color: $grey-100;
      cursor: default;
      &:hover {
        background-color: $blue-600;
      }
      & > .icon {
        @include fa-icon();
        font-size: 0.8em;
        vertical-align: middle;
        margin-right: 0.5em;
      }
    }
  }
}
