.room-item {
  background-color: $grey-200;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.8em 1em;
  padding-left: 0.8em + 0.9em;
  margin-bottom: 0.6em;
  &:hover, &.selected {
    background-color: $grey-100;
  }
  &.joined {
    background-color: $green-200;
    &:hover, &.selected {
      background-color: $green-100;
    }
  }
  @media screen and (min-width: $mobile-size) {
    // Hide action and inspector in tablets or desktops
    .room-inspector, .room-action-bar {
      display: none;
    }
  }
  & > .header {
    & > .name {
      float: left;
      padding-left: 0.1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > .status {
      float: right;
      text-align: right;
      & > .host {
        display: inline-block;
        color: $grey-600;
        vertical-align: middle;
        padding-right: 0.3rem;
        font-size: 0.9em;
      }
      & > .users {
        display: inline-block;
        font-size: 0.9em;
        width: 2.9rem;
        text-align: center;
        color: $grey-700;
        .current {
          &:after {
            content: '/';
            padding: 0 0.3em;
            color: $grey-600;
          }
        }
      }
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .lock {
    display: inline-block;
    padding: 0 0.2em;
    width: 0.9rem;
    text-align: right;
    vertical-align: middle;
    &.enabled {
      @include fa-icon();
      color: $orange-700;
      &:before {
        content: $fa-var-lock;
      }
    }
  }
  .state {
    @include fa-icon();
    display: inline-block;
    padding: 0 0.2rem;
    width: 0.7rem;
    text-align: left;
    vertical-align: middle;
    margin-left: -0.9rem;
    float: left;
    line-height: 1.05rem;
    font-size: 0.6em;
    &.waiting {
      color: $green-700;
      &:before {
        content: $fa-var-circle;
      }
    }
    &.playing {
      color: $red-700;
      &:before {
        content: $fa-var-circle;
      }
    }
  }
}
