.room-item {
  background-color: $grey-200;
  border: 1px solid $grey-400;
  border-radius: 2px;
  padding: 0.8em 1em;
  padding-left: 0.8em + 0.9em;
  margin-bottom: 0.6em;
  position: relative;
  &:hover, &.selected {
    background-color: $grey-100;
  }
  &.joined {
    background-color: $green-200;
    border: 1px solid $green-400;
    &:hover, &.selected {
      background-color: $green-100;
    }
  }
  // Mobile showdetails
  & .room-inspector {
    display: none;
  }
  &.showDetails .room-inspector {
    display: block;
  }
  &.selected > .info {
    display: block;
  }
  // Tablets
  @media screen and (min-width: $mobile-size) {
    // Show action bar on the right
    & > .info {
      display: none;
      position: absolute;
      width: 14em;
      // Outer room list has a 1em padding
      right: -16em;
      top: -1px;
      box-sizing: border-box;
      background-color: $grey-100;
      border: 1px solid $grey-400;
      padding: 0.5em;
      padding-bottom: 0.9em;
      border-radius: 2px;
      // A triangle. This uses px size because border uses px,
      // and I have to match with them. Luckily, this is just a decoration
      // so there won't be a problem.
      &:before {
        content: '';
        position: absolute;
        left: -20px;
        top: 1.3em;
        margin-top: -10px;
        @include triangle-left(10px, 10px, $grey-400);
      }
      // triangle after
      &:after {
        content: '';
        position: absolute;
        left: -18px;
        top: 1.3em;
        margin-top: -9px;
        @include triangle-left(9px, 9px, $grey-100);
      }
    }
    .room-inspector {
      display: block;
      .pane {
        display: block;
        width: 100%;
        min-width: auto;
      }
    }
    .room-action-bar > .action-container {
      display: inline-block;
      width: 50%;
      .action {
        text-align: center;
      }
    }
    .room-action-bar .details {
      display: none;
    }
  }
  // Big tablets
  @media screen and (min-width: $tablet-small-size) {
    & > .info {
      width: 16em;
      right: -18em;
    }
  }
  & > .header {
    & > .name {
      float: left;
      padding-left: 0.1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > .status {
      float: right;
      text-align: right;
      & > .host {
        display: inline-block;
        color: $grey-600;
        vertical-align: middle;
        padding-right: 0.3rem;
        font-size: 0.9em;
      }
      & > .users {
        display: inline-block;
        font-size: 0.9em;
        width: 2.9rem;
        text-align: center;
        color: $grey-700;
        .current {
          &:after {
            content: '/';
            padding: 0 0.3em;
            color: $grey-600;
          }
        }
      }
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .lock {
    display: inline-block;
    padding: 0 0.2em;
    width: 0.9rem;
    text-align: right;
    vertical-align: middle;
    &.enabled {
      @include fa-icon();
      color: $orange-700;
      &:before {
        content: $fa-var-lock;
      }
    }
  }
  .state {
    @include fa-icon();
    display: inline-block;
    padding: 0 0.2rem;
    width: 0.7rem;
    text-align: left;
    vertical-align: middle;
    margin-left: -0.9rem;
    float: left;
    line-height: 1.05rem;
    font-size: 0.6em;
    &.waiting {
      color: $green-700;
      &:before {
        content: $fa-var-circle;
      }
    }
    &.playing {
      color: $red-700;
      &:before {
        content: $fa-var-circle;
      }
    }
  }
}
