.room-list-container {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  td {
    padding: 0.6rem 0.4rem;
    &:first-child {
      padding-left: 0.8em;
    }
    &:last-child {
      padding-right: 0.8em;
    }
  }
  & > .room-list {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    thead {
      td {
        background: linear-gradient(to bottom, #fff, #f9f9f9);
        border-bottom: 1px solid #ccc;
        &:first-child {
          border-radius: 3px 0 0 0;
        }
        &:last-child {
          border-radius: 0 3px 0 0;
        }
      }
    }
    tbody .room-item {
      td {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
      }
      &:last-child td {
        border-bottom: none;
        &:first-child {
          border-radius: 0 0 0 3px;
        }
        &:last-child {
          border-radius: 0 0 3px 0;
        }
      }
      &:nth-child(2n) td {
        background-color: #f9f9f9;
      }
    }
  }
}
