.room-action-bar {
  margin-top: 0.6rem;
  padding: 0 0.2em;
  font-size: 0.9em;
  .action {
    display: inline-block;
    padding: 0.5em 0.6em;
    margin-right: 0.4em;
    background-color: $blue-700;
    border-radius: 2px;
    color: $grey-100;
    vertical-align: middle;
    cursor: default;
    &:hover {
      background-color: $blue-600;
    }
    & > .icon {
      @include fa-icon();
      font-size: 0.8em;
      vertical-align: middle;
      margin-right: 0.5em;
    }
    &.join {
      background-color: $green-700;
      &:hover {
        background-color: $green-600;
      }
      & > .icon:before {
        content: $fa-var-sign-in;
      }
    }
    &.leave {
      background-color: $red-700;
      &:hover {
        background-color: $red-600;
      }
      & > .icon:before {
        content: $fa-var-sign-out;
      }
    }
    &.spectate {
      background-color: $orange-700;
      &:hover {
        background-color: $orange-600;
      }
      & > .icon:before {
        content: $fa-var-search;
      }
    }
    &.details {
      & > .icon {
        margin-left: 0.5em;
        margin-right: 0;
        &:before {
          content: $fa-var-caret-down;
        }
      }
      &.open > .icon:before {
        content: $fa-var-caret-up;
      }
    }
  }
}
