.sidebar-root {
  $sidebar-space: $sidebar-width + $sidebar-margin * 2;

  position: fixed;
  z-index: 150;
  transition: left 0.2s;

  top: 0;
  left: 0;
  bottom: 0em;
  width: $sidebar-width;
  margin-left: 0;

  box-sizing: border-box;

  padding-top: $header-height + $content-padding-top;

  background-color: $sidebar-color;
  border-right: 1px solid $sidebar-border-color;

  overflow: hidden;
  &:hover {
    overflow-y: auto;
  }

  .hidden > & {
    left: -$sidebar-width - $sidebar-margin;
    visibility: hidden;
    transition: left 0.2s, visibility 0s linear 0.2s;
  }

  @media screen and (min-width: $tablet-size) {
    z-index: 21;
    left: auto;
    margin-left: -$sidebar-space;
    transition: none;

    border-right: none;

    .hidden > & {
      visibility: visible;
      left: auto;
      transition: none;
    }
  }
}

.sidebar-overlay {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;

  position: fixed;
  z-index: 149;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $sidebar-overlay-color;

  .hidden > & {
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    opacity: 0;
  }

  @media screen and (min-width: $tablet-size) {
    display: none;
    z-index: 20;
  }
}
