.sidebar-root {
  $sidebar-space: $sidebar-width + $sidebar-margin * 2;

  position: fixed;
  z-index: 2;
  transition: left 0.2s;

  top: 0;
  left: 0;
  bottom: 0em;
  width: $sidebar-width;
  margin-left: 0;

  padding: 0.5em;
  padding-top: $header-height + $content-padding-top; 

  background-color: #e2e4e6;
  box-shadow: 0 0 4px -1px #000;

  .hidden > & {
    left: -$sidebar-width - $sidebar-margin;
    visibility: hidden;
    transition: left 0.2s, visibility 0s linear 0.2s;
  }

  @media screen and (min-width: $tablet-size) {
    left: auto;
    margin-left: -$sidebar-space;
    transition: none;

    box-shadow: none;

    .hidden > & {
      visibility: visible;
      left: auto;
      transition: none;
    }
  }
}

.sidebar-overlay {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;

  position: fixed;
  z-index: 1;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(#000, 0.5);

  .hidden > & {
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    opacity: 0;
  }

  @media screen and (min-width: $tablet-size) {
    display: none;
  }
}
