.text-input-component {
  font-size: 1em;
  background-color: #fff;
  color: #333;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 0.6em;
  margin: 0.1em 0.2em;
  border: none;
  border-radius: 3px;
  box-shadow: 0em 0.1em 3px 0 #B0BEC5;
  border: 1px solid #B0BEC5;

  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s,
    border-color 0.1s;

  &:hover {
    background-color: #fff;
    box-shadow: 0em 0.1em 3px 0 #C7C7C7;
    border-color: #C7C7C7;
  }
  &:active, &:focus {
    background-color: #fff;
    box-shadow: 0em 0em 3px 0 #69aaee;
    border-color: #69aaee;
  }
}
