.two-column-view {
  min-height: 100%;
  height: 100%;
  max-width: 54em;
  position: relative;
  & > .list-column {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $grey-100;
    padding: 1em;
    box-sizing: border-box;
    border-left: 1px solid $grey-400;
    border-right: 1px solid $grey-400;
    @media screen and (min-width: $mobile-size) {
      right: 16em;
    }
    @media screen and (min-width: $tablet-small-size) {
      right: 18em;
    }
  }
  & > .details-column {
    display: none;
    width: 16em;
    position: absolute;
    right: 0;
    @media screen and (min-width: $mobile-size) {
      display: block;
    }
    @media screen and (min-width: $tablet-small-size) {
      width: 18em;
    }
  }
}
