.login-view {
  padding: 0.5em;
  // max-width: 54em;
  text-align: center;
  box-sizing: border-box;
  & > .pane {
    display: block;
    padding: 0.5em;
    vertical-align: middle;
    box-sizing: border-box;
  }
  @media screen and (min-width: $mobile-size) {
    & > .pane {
      display: inline-block;
      width: 50%;
      max-width: 24em;
    }
    & > .login-guest {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }
}
