.login-menu {
  & > .user-info {
    display: inline-block;
    font-size: 0.85em;
    color: $green-300;
    vertical-align: middle;
  }
  & > .action {
    display: inline-block;
    vertical-align: middle;
  }
}
