// Primary color definition

$grey-1000: #000;
$grey-900: #333;
$grey-800: #444;
$grey-700: #4f5258;
$grey-600: #555;
$grey-500: #666;
$grey-400: #C7C7C7;
$grey-300: #B0BEC5;
$grey-200: #ddd;
$grey-100: #e2e4e6;
$grey-000: #fff;

// UI color definition

// TODO
