// Device size definition
$tablet-size: 55em;
$mobile-size: 30em;

// UI component size definition

$content-padding-top: 0.5rem;
$content-max-width: 55rem;

$header-max-width: 90rem;
$header-font-size: 1.2rem;
$header-height: 3.2rem;

$sidebar-width: 16rem;
$sidebar-margin: 0.5rem;
