// Device size definition
$desktop-size: 70em;
$tablet-size: 60em;
$mobile-size: 36em;
$tiny-size: 30em;

// UI component size definition

$content-padding-top: 0rem;

$header-font-size: 1.2rem;
$header-height: 4rem;

$sidebar-width: 18rem;
$sidebar-margin: 0rem;
