// Device size definition
$desktop-large-size: 90em;
$desktop-size: 70em;
$tablet-size: 60em;
$tablet-small-size: 50em;
$mobile-size: 40em;
$tiny-size: 30em;

// UI component size definition

$content-padding-top: 0rem;

$header-font-size: 1.2rem;
$header-height: 3.5rem;

$sidebar-width: 16rem;
$sidebar-margin: 0rem;

$chatbar-width: 16rem;
