$fa-font-path: "~font-awesome/fonts/";
// @import '~font-awesome/scss/font-awesome.scss';
@import '~font-awesome/scss/_variables.scss';
@import '~font-awesome/scss/_mixins.scss';
@import '~font-awesome/scss/_path.scss';

$tablet-size: 55em;
$mobile-size: 30em;

@import 'component/**/*.scss';
