.player-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    width: 100%;
    // min-width: 19em;
    padding: 0.2em;
    box-sizing: border-box;
    @media screen and (min-width: $tablet-small-size) and
      (max-width: $tablet-size)
    {
      width: 50%;
    }
    @media screen and (min-width: $desktop-size) {
      width: 50%;
    }
  }
  &.gameplay {
    padding: 0 0.2em;
    li {
      width: 100%;
    }
  }
}
