.room-form {
  // margin: 0.4em;
  // font-size: 0.9em;
  &.dialog .room-inspector .pane {
    display: block;
    width: 100%;
  }
  .room-inspector {
    .pane {
      @media screen and (min-width: $tiny-size) {
        display: inline-block;
        width: 50%;
      }
    }
    .pane.form {
      max-height: none;
      .content {
        max-height: none;
        height: auto;
        overflow: visible;
      }
      padding-top: 0;
      @media screen and (min-width: $tiny-size) {
        display: block;
        width: 100%;
      }
    }
  }
  .field {
    margin: 0.2em 0;
    &.label {
      label {
        display: table;
        .label {
          display: table-cell;
          white-space: nowrap;
          vertical-align: middle;
          padding-right: 0.4em;
        }
        .field {
          display: table-cell;
          width: 100%;
          vertical-align: middle;
          text-align: left;
          input[type='checkbox'] {
            display: inline;
            width: auto;
          }
        }
      }
    }
  }
  input {
    width: 100%;
    display: block;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $grey-400;
    background: none;
    padding: 0.4em 0;
  }
  .room-action-bar {
    @media screen and (min-width: $mobile-size) {
      text-align: right;
    }
  }
}
